<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-white mb-4">Software engineer</h2>
        <p class="text-white-50">
          Proficient in Java development. Actively seek out and embrace new
          challenges. Promote the Scrum methodology effectively facilitating
          communication amongst project stakeholders. Passionate about
          constantly expanding knowledge and utilizing cutting-edge technologies
          to enhance software functionality. Hiking and traveling enthusiast.
          Know more about
          <a href="https://github.com/nordonezc">my personal projects.</a>
        </p>
      </div>
    </div>
    <img class="img-fluid" src="assets/img/ipad.png" alt="..." />
  </div>
</section>
