<section class="contact-section bg-black">
  <div class="container px-4 px-lg-5">
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="https://www.instagram.com/nikiordonezc/"
        ><i class="fab fa-instagram"></i
      ></a>
      <a class="mx-2" href="https://www.facebook.com/nikichala/"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a class="mx-2" href="https://github.com/nordonezc"
        ><i class="fab fa-github"></i
      ></a>
    </div>
  </div>
</section>
